<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Insert a brief description of the page here.">
    <meta name="keywords" content="Insert relevant keywords for the page here, separated by commas.">
    <meta name="author" content="Insert the name of the page's author here.">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">   
    <title>Head template</title>
</head>
<body>
    The page contains the html content of the head tag.
    <p><head>
        meta charset="UTF-8">
        meta name="viewport" content="width=device-width, initial-scale=1.0">
        meta name="description" content="Insert a brief description of the page here.">
        meta name="<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   " content="Insert relevant keywords for the page here, separated by commas.">
        meta name="author" content="Insert the name of the page's author here.">
        title>Head template</title>
    </head></p>
</body>
</html>
